body {
    text-align: center;
}

.score-board {
    display: flex;
    border: solid black 4px;
    border-radius: 15px;
    height: 50px;
    width: 505px;
    align-items: center;
    margin: 0px auto -40px auto;
}

.score-text {
    font-size: 30px;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
}

.heart {
    height: 15%;
    width: 15%;
}