body {
    text-align: center;
}

.score-board {
    display: flex;
    border: solid black 4px;
    border-radius: 15px;
    height: 50px;
    width: 505px;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto -40px auto;
}

.score-text {
    font-size: 30px;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
}

.lives-box {
    width: 100px;
    margin: 0;

}

.heart {
    height: 25%;
    width: 25%;
}